In [1]:
pwd

'C:\\Users\\MOON'

In [2]:
cd C:\Users\MOON\Desktop\coursera\modul_9_Applied Data Science Capstone

C:\Users\MOON\Desktop\coursera\modul_9_Applied Data Science Capstone

In [3]:
pwd

'C:\\Users\\MOON\\Desktop\\coursera\\modul_9_Applied Data Science Capstone'

In [4]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [5]:
daten = pd.read_csv('postal_Code_Canada.csv')
daten.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 3 columns):
Postcode         287 non-null object
Borough          287 non-null object
Neighbourhood    287 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

In [6]:
daten.head(15)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
8       M8A      Not assigned      Not assigned
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
12      M2B      Not assigned      Not assigned
13      M3B        North York   Don Mills North
14      M4B         East York  Woodbine Gardens